In [1]:
import pandas as pd

In [2]:
# Try with 'latin-1' encoding (often works with Excel files)
df = pd.read_csv('lemur_data.csv', encoding='latin-1')

# Or try with 'iso-8859-1' encoding
df = pd.read_csv('lemur_data.csv', encoding='iso-8859-1')

# Or try with 'cp1252' encoding (Windows default)
df = pd.read_csv('lemur_data.csv', encoding='cp1252')

/var/folders/hd/5t0nyt5900v65x975rwwlgp80000gn/T/ipykernel_18309/4047488830.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('lemur_data.csv', encoding='latin-1')
/var/folders/hd/5t0nyt5900v65x975rwwlgp80000gn/T/ipykernel_18309/4047488830.py:5: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('lemur_data.csv', encoding='iso-8859-1')
/var/folders/hd/5t0nyt5900v65x975rwwlgp80000gn/T/ipykernel_18309/4047488830.py:8: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('lemur_data.csv', encoding='cp1252')

In [5]:
df.columns

Index(['taxon', 'hybrid', 'sex', 'name', 'current_resident', 'stud_book',
       'dob', 'birth_month', 'estimated_dob', 'birth_type',
       'birth_institution', 'litter_size', 'expected_gestation',
       'estimated_concep', 'concep_month', 'dam_id', 'dam_name', 'dam_taxon',
       'dam_dob', 'dam_age_at_concep_y', 'sire_id', 'sire_name', 'sire_taxon',
       'sire_dob', 'sire_age_at_concep_y', 'dod', 'age_at_death_y',
       'age_of_living_y', 'age_last_verified_y', 'age_max_live_or_dead_y',
       'n_known_offspring', 'dob_estimated', 'weight_g', 'weight_date',
       'month_of_weight', 'age_at_wt_d', 'age_at_wt_wk', 'age_at_wt_mo',
       'age_at_wt_mo_no_dec', 'age_at_wt_y', 'change_since_prev_wt_g',
       'days_since_prev_wt', 'avg_daily_wt_change_g', 'days_before_death',
       'r_min_dam_age_at_concep_y', 'age_category', 'preg_status',
       'expected_gestation_d', 'concep_date_if_preg', 'infant_dob_if_preg',
       'days_before_inf_birth_if_preg', 'pct_preg_remain_if_preg',
       'infant_lit_sz_if_preg'],
      dtype='object')

In [28]:
df_cleaned = df.copy()
df_cleaned.head()

,taxon,hybrid,sex,name,current_resident,stud_book,dob,birth_month,estimated_dob,birth_type,...,days_before_death,r_min_dam_age_at_concep_y,age_category,preg_status,expected_gestation_d,concep_date_if_preg,infant_dob_if_preg,days_before_inf_birth_if_preg,pct_preg_remain_if_preg,infant_lit_sz_if_preg
0,OGG,N,M,KANGA,N,NaN,25/08/1961,8.0,NaN,CB,...,1818.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
1,OGG,N,M,KANGA,N,NaN,25/08/1961,8.0,NaN,CB,...,1693.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
2,OGG,N,F,ROO,N,NaN,17/03/1961,3.0,NaN,CB,...,972.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
3,OGG,N,F,ROO,N,NaN,17/03/1961,3.0,NaN,CB,...,841.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
4,OGG,N,M,POOH BEAR,N,NaN,30/09/1963,9.0,NaN,CB,...,728.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_cleaned = df_cleaned[["sex","age_max_live_or_dead_y","weight_date","taxon"]]

In [29]:
df_cleaned[df_cleaned['weight_date'].notna()]

,taxon,hybrid,sex,name,current_resident,stud_book,dob,birth_month,estimated_dob,birth_type,...,days_before_death,r_min_dam_age_at_concep_y,age_category,preg_status,expected_gestation_d,concep_date_if_preg,infant_dob_if_preg,days_before_inf_birth_if_preg,pct_preg_remain_if_preg,infant_lit_sz_if_preg
0,OGG,N,M,KANGA,N,NaN,25/08/1961,8.0,NaN,CB,...,1818.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
1,OGG,N,M,KANGA,N,NaN,25/08/1961,8.0,NaN,CB,...,1693.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
2,OGG,N,F,ROO,N,NaN,17/03/1961,3.0,NaN,CB,...,972.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
3,OGG,N,F,ROO,N,NaN,17/03/1961,3.0,NaN,CB,...,841.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
4,OGG,N,M,POOH BEAR,N,NaN,30/09/1963,9.0,NaN,CB,...,728.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82604,NCOU,N,F,DANU-A,N,1347,30/05/1984,5.0,NaN,CB,...,0.0,1.33,IJ,NP,NaN,NaN,NaN,NaN,NaN,NaN
82605,NCOU,N,M,KANTIL,N,1277,17/11/1976,11.0,NaN,CB,...,238.0,1.33,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
82606,NCOU,N,M,KANTIL,N,1277,17/11/1976,11.0,NaN,CB,...,183.0,1.33,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
82607,NCOU,N,M,KANTIL,N,1277,17/11/1976,11.0,NaN,CB,...,63.0,1.33,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
82608,NCOU,N,M,KANTIL,N,1277,17/11/1976,11.0,NaN,CB,...,2.0,1.33,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# 2. Extract years from 'weight_date' and create a new column
df_cleaned['weight_year'] = pd.to_datetime(df_cleaned['weight_date'], format='%d/%m/%Y').dt.year

In [31]:
df_cleaned["weight_year"]

0        1972
1        1972
2        1972
3        1972
4        1972
         ...
82604    1984
82605    1984
82606    1984
82607    1985
82608    1985
Name: weight_year, Length: 82609, dtype: int32

In [32]:
duplicates = df_cleaned[df_cleaned.duplicated(subset=['name', 'dob',"weight_year"], keep=False)]
print("Rows that are duplicated:")
print(duplicates)

Rows that are duplicated:
      taxon hybrid sex       name current_resident stud_book         dob  \
0       OGG      N   M      KANGA                N       NaN  25/08/1961
1       OGG      N   M      KANGA                N       NaN  25/08/1961
2       OGG      N   F        ROO                N       NaN  17/03/1961
3       OGG      N   F        ROO                N       NaN  17/03/1961
4       OGG      N   M  POOH BEAR                N       NaN  30/09/1963
...     ...    ...  ..        ...              ...       ...         ...
82603  LTAR      N   F       SITA                N      1052  01/06/1984
82605  NCOU      N   M     KANTIL                N      1277  17/11/1976
82606  NCOU      N   M     KANTIL                N      1277  17/11/1976
82607  NCOU      N   M     KANTIL                N      1277  17/11/1976
82608  NCOU      N   M     KANTIL                N      1277  17/11/1976

       birth_month estimated_dob birth_type  ... r_min_dam_age_at_concep_y  \
0              8.0           NaN         CB  ...                      0.59
1              8.0           NaN         CB  ...                      0.59
2              3.0           NaN         CB  ...                      0.59
3              3.0           NaN         CB  ...                      0.59
4              9.0           NaN         CB  ...                      0.59
...            ...           ...        ...  ...                       ...
82603          6.0           NaN         CB  ...                      0.99
82605         11.0           NaN         CB  ...                      1.33
82606         11.0           NaN         CB  ...                      1.33
82607         11.0           NaN         CB  ...                      1.33
82608         11.0           NaN         CB  ...                      1.33

       age_category  preg_status expected_gestation_d  concep_date_if_preg  \
0             adult           NP                  NaN                  NaN
1             adult           NP                  NaN                  NaN
2             adult           NP                  NaN                  NaN
3             adult           NP                  NaN                  NaN
4             adult           NP                  NaN                  NaN
...             ...          ...                  ...                  ...
82603         adult           NP                  NaN                  NaN
82605         adult           NP                  NaN                  NaN
82606         adult           NP                  NaN                  NaN
82607         adult           NP                  NaN                  NaN
82608         adult           NP                  NaN                  NaN

      infant_dob_if_preg days_before_inf_birth_if_preg  \
0                    NaN                           NaN
1                    NaN                           NaN
2                    NaN                           NaN
3                    NaN                           NaN
4                    NaN                           NaN
...                  ...                           ...
82603                NaN                           NaN
82605                NaN                           NaN
82606                NaN                           NaN
82607                NaN                           NaN
82608                NaN                           NaN

      pct_preg_remain_if_preg infant_lit_sz_if_preg  weight_year
0                         NaN                   NaN         1972
1                         NaN                   NaN         1972
2                         NaN                   NaN         1972
3                         NaN                   NaN         1972
4                         NaN                   NaN         1972
...                       ...                   ...          ...
82603                     NaN                   NaN         1987
82605                     NaN                   NaN         1984
82606                     NaN                   NaN         1984
82607                     NaN                   NaN         1985
82608                     NaN                   NaN         1985

[80002 rows x 54 columns]

In [33]:
# 3. Keep only the last occurrence of duplicates and remove others
df_cleaned = df_cleaned.drop_duplicates(subset=['name','dob',"weight_year"], keep='last')

# 4. Verify the results
print("\nNumber of rows before removing duplicates:", len(df))
print("Number of rows after removing duplicates:", len(df_cleaned))

Number of rows before removing duplicates: 82609
Number of rows after removing duplicates: 12446

In [34]:
df_cleaned

,taxon,hybrid,sex,name,current_resident,stud_book,dob,birth_month,estimated_dob,birth_type,...,r_min_dam_age_at_concep_y,age_category,preg_status,expected_gestation_d,concep_date_if_preg,infant_dob_if_preg,days_before_inf_birth_if_preg,pct_preg_remain_if_preg,infant_lit_sz_if_preg,weight_year
1,OGG,N,M,KANGA,N,NaN,25/08/1961,8.0,NaN,CB,...,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN,1972
3,OGG,N,F,ROO,N,NaN,17/03/1961,3.0,NaN,CB,...,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN,1972
6,OGG,N,M,POOH BEAR,N,NaN,30/09/1963,9.0,NaN,CB,...,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN,1972
8,OGG,N,M,EEYORE,N,NaN,20/05/1964,5.0,NaN,CB,...,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN,1972
10,OGG,N,F,ROOLETTE,N,NaN,27/10/1964,10.0,NaN,CB,...,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN,1972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82601,LTAR,N,F,SITA,N,1052,01/06/1984,6.0,NaN,CB,...,0.99,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN,1986
82603,LTAR,N,F,SITA,N,1052,01/06/1984,6.0,NaN,CB,...,0.99,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN,1987
82604,NCOU,N,F,DANU-A,N,1347,30/05/1984,5.0,NaN,CB,...,1.33,IJ,NP,NaN,NaN,NaN,NaN,NaN,NaN,1984
82606,NCOU,N,M,KANTIL,N,1277,17/11/1976,11.0,NaN,CB,...,1.33,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN,1984
82608,NCOU,N,M,KANTIL,N,1277,17/11/1976,11.0,NaN,CB,...,1.33,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN,1985

In [25]:
df_cleaned.to_csv("lemur_data_cleaned.csv")