In [1]:
import pandas as pd

In [2]:
# Try with 'latin-1' encoding (often works with Excel files)
df = pd.read_csv('lemur_data.csv', encoding='latin-1')

# Or try with 'iso-8859-1' encoding
df = pd.read_csv('lemur_data.csv', encoding='iso-8859-1')

# Or try with 'cp1252' encoding (Windows default)
df = pd.read_csv('lemur_data.csv', encoding='cp1252')

/var/folders/hd/5t0nyt5900v65x975rwwlgp80000gn/T/ipykernel_18309/4047488830.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('lemur_data.csv', encoding='latin-1')
/var/folders/hd/5t0nyt5900v65x975rwwlgp80000gn/T/ipykernel_18309/4047488830.py:5: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('lemur_data.csv', encoding='iso-8859-1')
/var/folders/hd/5t0nyt5900v65x975rwwlgp80000gn/T/ipykernel_18309/4047488830.py:8: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('lemur_data.csv', encoding='cp1252')

In [5]:
df.columns

Index(['taxon', 'hybrid', 'sex', 'name', 'current_resident', 'stud_book',
       'dob', 'birth_month', 'estimated_dob', 'birth_type',
       'birth_institution', 'litter_size', 'expected_gestation',
       'estimated_concep', 'concep_month', 'dam_id', 'dam_name', 'dam_taxon',
       'dam_dob', 'dam_age_at_concep_y', 'sire_id', 'sire_name', 'sire_taxon',
       'sire_dob', 'sire_age_at_concep_y', 'dod', 'age_at_death_y',
       'age_of_living_y', 'age_last_verified_y', 'age_max_live_or_dead_y',
       'n_known_offspring', 'dob_estimated', 'weight_g', 'weight_date',
       'month_of_weight', 'age_at_wt_d', 'age_at_wt_wk', 'age_at_wt_mo',
       'age_at_wt_mo_no_dec', 'age_at_wt_y', 'change_since_prev_wt_g',
       'days_since_prev_wt', 'avg_daily_wt_change_g', 'days_before_death',
       'r_min_dam_age_at_concep_y', 'age_category', 'preg_status',
       'expected_gestation_d', 'concep_date_if_preg', 'infant_dob_if_preg',
       'days_before_inf_birth_if_preg', 'pct_preg_remain_if_preg',
       'infant_lit_sz_if_preg'],
      dtype='object')

In [8]:
df_cleaned = df.copy()
df_cleaned.head()

,taxon,hybrid,sex,name,current_resident,stud_book,dob,birth_month,estimated_dob,birth_type,...,days_before_death,r_min_dam_age_at_concep_y,age_category,preg_status,expected_gestation_d,concep_date_if_preg,infant_dob_if_preg,days_before_inf_birth_if_preg,pct_preg_remain_if_preg,infant_lit_sz_if_preg
0,OGG,N,M,KANGA,N,NaN,25/08/1961,8.0,NaN,CB,...,1818.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
1,OGG,N,M,KANGA,N,NaN,25/08/1961,8.0,NaN,CB,...,1693.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
2,OGG,N,F,ROO,N,NaN,17/03/1961,3.0,NaN,CB,...,972.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
3,OGG,N,F,ROO,N,NaN,17/03/1961,3.0,NaN,CB,...,841.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
4,OGG,N,M,POOH BEAR,N,NaN,30/09/1963,9.0,NaN,CB,...,728.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# 2. Extract year from 'dod' and create a new column
# Since the dates are in DD/MM/YYYY format, we'll need to parse them properly
df_cleaned['weight_year'] = pd.to_datetime(df_cleaned['weight_date'], format='%d/%m/%Y').dt.year

In [10]:
df_cleaned["weight_year"]

0        1972
1        1972
2        1972
3        1972
4        1972
         ...
82604    1984
82605    1984
82606    1984
82607    1985
82608    1985
Name: weight_year, Length: 82609, dtype: int32

In [3]:
duplicates = df[df.duplicated(subset=['name', 'dob',"weight_date"], keep=False)]
print("Rows that are duplicated:")
print(duplicates)

# 3. Keep only the last occurrence of duplicates and remove others
df_cleaned = df.drop_duplicates(subset=['name', 'dob'], keep='last')

# 4. Verify the results
print("\nNumber of rows before removing duplicates:", len(df))
print("Number of rows after removing duplicates:", len(df_cleaned))

Rows that are duplicated:
      taxon hybrid sex        name current_resident stud_book         dob  \
1231    HGG      N   F  Benevolent                N    T10048  20/03/1994
1232    HGG      N   F  Benevolent                N    T10048  20/03/1994
1435    HGG      N   F      Beware                Y    T10052  06/05/1995
1436    HGG      N   F      Beware                Y    T10052  06/05/1995
1503    HGG      N   F      Beware                Y    T10052  06/05/1995
...     ...    ...  ..         ...              ...       ...         ...
79895  EFLA      N   F  Ranomasina                Y     299.0  12/04/2018
79896  EFLA      N   F  Ranomasina                Y     299.0  12/04/2018
79897  EFLA      N   F  Ranomasina                Y     299.0  12/04/2018
81655  PPOT      N   M        LOZI                N    1194.0  01/11/1979
81656  PPOT      N   M        LOZI                N    1194.0  01/11/1979

       birth_month estimated_dob birth_type  ... days_before_death  \
1231           3.0           NaN         CB  ...               0.0
1232           3.0           NaN         CB  ...               0.0
1435           5.0           NaN         CB  ...               NaN
1436           5.0           NaN         CB  ...               NaN
1503           5.0           NaN         CB  ...               NaN
...            ...           ...        ...  ...               ...
79895          4.0           NaN         CB  ...               NaN
79896          4.0           NaN         CB  ...               NaN
79897          4.0           NaN         CB  ...               NaN
81655         11.0             Y         WB  ...            1288.0
81656         11.0             Y         WB  ...            1288.0

       r_min_dam_age_at_concep_y  age_category preg_status  \
1231                        1.53         adult          NP
1232                        1.53         adult          NP
1435                        1.53         adult          NP
1436                        1.53         adult          NP
1503                        1.53         adult          NP
...                          ...           ...         ...
79895                       1.58            IJ          NP
79896                       1.58            IJ          NP
79897                       1.58            IJ          NP
81655                       2.16         adult          NP
81656                       2.16         adult          NP

       expected_gestation_d concep_date_if_preg infant_dob_if_preg  \
1231                    NaN                 NaN                NaN
1232                    NaN                 NaN                NaN
1435                    NaN                 NaN                NaN
1436                    NaN                 NaN                NaN
1503                    NaN                 NaN                NaN
...                     ...                 ...                ...
79895                   NaN                 NaN                NaN
79896                   NaN                 NaN                NaN
79897                   NaN                 NaN                NaN
81655                   NaN                 NaN                NaN
81656                   NaN                 NaN                NaN

      days_before_inf_birth_if_preg pct_preg_remain_if_preg  \
1231                            NaN                     NaN
1232                            NaN                     NaN
1435                            NaN                     NaN
1436                            NaN                     NaN
1503                            NaN                     NaN
...                             ...                     ...
79895                           NaN                     NaN
79896                           NaN                     NaN
79897                           NaN                     NaN
81655                           NaN                     NaN
81656                           NaN                     NaN

       infant_lit_sz_if_preg
1231                     NaN
1232                     NaN
1435                     NaN
1436                     NaN
1503                     NaN
...                      ...
79895                    NaN
79896                    NaN
79897                    NaN
81655                    NaN
81656                    NaN

[417 rows x 53 columns]

Number of rows before removing duplicates: 82609
Number of rows after removing duplicates: 2270

In [12]:
df_cleaned

,taxon,hybrid,sex,name,current_resident,stud_book,dob,birth_month,estimated_dob,birth_type,...,days_before_death,r_min_dam_age_at_concep_y,age_category,preg_status,expected_gestation_d,concep_date_if_preg,infant_dob_if_preg,days_before_inf_birth_if_preg,pct_preg_remain_if_preg,infant_lit_sz_if_preg
1,OGG,N,M,KANGA,N,NaN,25/08/1961,8.0,NaN,CB,...,1693.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
3,OGG,N,F,ROO,N,NaN,17/03/1961,3.0,NaN,CB,...,841.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
6,OGG,N,M,POOH BEAR,N,NaN,30/09/1963,9.0,NaN,CB,...,601.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
8,OGG,N,M,EEYORE,N,NaN,20/05/1964,5.0,NaN,CB,...,1961.0,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
10,OGG,N,F,ROOLETTE,N,NaN,27/10/1964,10.0,NaN,CB,...,NaN,0.59,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82580,NCOU,N,M,KALKI,N,1345,03/05/1984,5.0,NaN,CB,...,1843.0,1.33,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
82593,LTAR,N,F,BALA,N,1051,29/05/1984,5.0,NaN,CB,...,3217.0,0.99,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
82603,LTAR,N,F,SITA,N,1052,01/06/1984,6.0,NaN,CB,...,2854.0,0.99,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN
82604,NCOU,N,F,DANU-A,N,1347,30/05/1984,5.0,NaN,CB,...,0.0,1.33,IJ,NP,NaN,NaN,NaN,NaN,NaN,NaN
82608,NCOU,N,M,KANTIL,N,1277,17/11/1976,11.0,NaN,CB,...,2.0,1.33,adult,NP,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_cleaned["dod"]

1        07/02/1977
3        15/10/1974
6        13/02/1974
8        02/11/1977
10              NaN
            ...
82580    10/03/1996
82593    24/11/1998
82603    29/01/1995
82604    30/05/1984
82608    18/06/1985
Name: dod, Length: 2270, dtype: object

In [18]:
df_cleaned["death_year"]

1        1977.0
3        1974.0
6        1974.0
8        1977.0
10          NaN
          ...
82580    1996.0
82593    1998.0
82603    1995.0
82604    1984.0
82608    1985.0
Name: death_year, Length: 2270, dtype: float64

In [19]:
pd.to_csv(df_cleaned,"lemur_data_cleaned.csv")

AttributeError: module 'pandas' has no attribute 'to_csv'